body {
  background-image: url(images/background.gif);
  background-color: #fcebb6;
  color: #221811;
  font-family: Verdana, arial, sans-serif;
}

main {
  margin-left: 200px;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  background-color: #fef6c2;
  display: block;
}

header {
  background-color: #d2b48c;
  height: 150px;
  background-image: url(images/javajamlogo.jpg);
  background-repeat: no-repeat;
  display: block;
}

h1 {
  text-align: center;
  padding-top: 45px;
  padding-left: 220px;
  font-size: 3em;
}

h2 {
  padding-left: 3em;
  padding-right: 2em;
}

h3 {
  padding-left: 3em;
  padding-right: 2em;
}

h4 {
  background-color: #d2b48c;
  font-size: 1.2em;
  padding-left: 3em;
  padding-right: 2em;
  padding-bottom: 0em;
  text-transform: uppercase;
  border-bottom: solid;
  clear: left;
}

p {
  padding-left: 3em;
  padding-right: 2em;
}

div {
  padding-left: 3em;
  padding-right: 2em;
}

dd {
  padding-left: 3em;
  padding-right: 2em;
}

dt {
  padding-left: 3em;
  padding-right: 2em;
}

ul {
  padding-left: 3em;
  padding-right: 2em;
}

dl {
  padding-left: 3em;
  padding-right: 2em;
}

nav {
  font-weight: bold;
  font-size: 1.5em;
  padding-top: 10px;
  float: left;
  width: 200px;
  display: block;
}

nav a {
  text-decoration: none;
}

nav ul {
  list-style: none;
  padding-left: 0;
}

nav a:link {
  color: #fef6c2;
}
nav a:visited {
  color: #d2b48c;
}

nav a:hover {
  color: #cc9933;
}

a {
  text-decoration: none;
}

img {
  padding-left: 10px;
  padding-right: 10px;
}

footer {
  background-color: #d2b48c;
  font-size: 0.6em;
  font-style: italic;
  text-align: center;
  padding-bottom: 10px;
  border-top: 2px solid #221811;
  display: block;
}

#wrapper {
  background-color: #231814;
  min-width: 900px;
  max-width: 1280px;
  box-shadow: 5px 5px 5px #1e1e1e;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
}

#heroroad {
  background-image: url(images/heroroad.jpg);
  background-size: 100%;
  height: 250px;
  background-repeat: no-repeat;
}

#heromugs {
  background-image: url(images/heromugs.jpg);
  background-size: 100%;
  height: 250px;
  background-repeat: no-repeat;
}

#heroguitar {
  background-image: url(images/heroguitar.jpg);
  background-size: 100%;
  height: 250px;
  background-repeat: no-repeat;
}

#mobile {
  display: none;
}

#desktop {
  display: inline;
}

.winding-road {
  width: 640;
  height: 480;
  float: right;
}

.mugs-container {
  width: auto;
  height: auto;
  float: right;
}

.details {
  padding-left: 20%;
  padding-right: 20%;
  overflow: auto;
}

.floatleft {
  float: left;
  padding-right: 2em;
  padding-bottom: 2em;
}

@media only screen and (max-width: 1024px) {
  body {
    margin: 0;
    background-image: none;
  }
  #wrapper {
    width: auto;
    min-width: 0;
    margin: 0;
    padding: 0;
    box-shadow: none;
  }
  header {
    border-bottom: 5px solid #fef6c2;
  }
  h1 {
    margin-top: 0;
    margin-bottom: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
    font-size: 2.5em;
  }
  nav {
    float: none;
    width: auto;
    padding-top: 0;
    margin: 10px;
    font-size: 1.3em;
  }
  nav li {
    display: inline-block;
  }
  nav a {
    padding: 1em;
    width: 8em;
    font-weight: bold;
    border-style: none;
  }
  nav ul {
    padding: 0;
    margin: 0;
  }
  main {
    margin: 0;
    font-size: 90%;
  }
  #heroroad {
    padding: 0;
    margin: 0;
  }
  #heromugs {
    padding: 0;
    margin: 0;
  }
  #heroguitar {
    padding: 0;
    margin: 0;
  }
}

@media only screen and (max-width: 768px) {
  header {
    background-image: url(images/javajammini.jpg);
    height: 128px;
  }
  h1 {
    font-size: 2em;
    text-align: center;
    padding-left: 0;
  }
  nav {
    margin: 0;
  }
  nav a {
    display: block;
    padding: 0.2em;
    width: auto;
    border-bottom: 1px solid #fef6c2;
  }
  nav li {
    display: block;
  }
  main {
    padding-top: 1px;
  }
  h2 {
    padding: 0.5em 0 0 0.5em;
    margin-right: 0.5em;
  }
  .details {
    padding-left: 0;
    padding-right: 0;
  }
  .floatleft {
    padding-left: 0.5;
    padding-right: 0.5;
  }
  #heroroad {
    background-image: none;
    height: auto;
  }
  #heromugs {
    background-image: none;
    height: auto;
  }
  #heroguitar {
    background-image: none;
    height: auto;
  }
  #mobile {
    display: inline;
  }
  #desktop {
    display: none;
  }
}
